@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Chango&family=IM+Fell+Great+Primer+SC&family=Londrina+Solid:wght@100;300;400;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playpen+Sans+Hebrew:wght@100..800&display=swap');


.header-section{ 
    display: flex;
    flex-direction: row;
    flex: 1, 1, 100%;
    background-color: rgb(187, 165, 133);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    justify-content: space-between;
    height: 75px;

        
        .left-header-section{ 
            display: flex;
            align-items: center;
            font-family: "Playpen Sans Hebrew";
            font-size: 15px;
        }

        .center-header-section{ 
            display: flex;
            gap: 10px;
        }

}